<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h3 class="mb-0">Lista de Notícias</h3>
            <a routerLink="novo" class="btn btn-secundary left">Nova noticia</a>
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped table-bordered align-middle">
                <thead class="table-success">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Corpo</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let noticia of noticia$; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ noticia.titulo }}</td>
                        <td>{{ noticia.corpo }}</td>
                        <td class="text-center">
                            <a (click)="editar(noticia.id)"  class="btn btn-primary">Editar</a>&nbsp;
                            <a (click)="remover(noticia.id)" class="btn btn-danger">Excluir</a>            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
